/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Interactive Photo Gallery
Version:	0.0.1
Author: 	@WebDesignerBen
URI:		https://github.com/BenAttenborough/interactive-ghoto-gallery

--------------------------------------------------------------------

[Table of Contents]

---GENERAL---
---TYPOGRAPHY---
---LAYOUT---
---ELEMENTS---
---CLEARFIX---
---MEDIA QUERIES---
	---TABLET AND ABOVE---

Note: Project employs mobile-first philosophy, main styles are for
mobile then views are progressively enchanced for tablet and 
desktop

-------------------------------------------------------------------*/

/*
 *---GENERAL---
 */

* {
	box-sizing:border-box;
}

/*
 *---TYPOGRAPHY---
 */

h1, h2, h3, h4, p, a {
	font-family: 'Merriweather', serif;
}

/*
 *---LAYOUT---
 */

 header {
 	width: 100%;
 	padding-top: 1px;
 	position: fixed;
 	top: 0;
 	left: 0;
 	background-color: #fff;
 	-webkit-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
	box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
	z-index: 100;
 }

.main-container {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 60px;
	background-color: #fff;
	margin-top: 80px;
}

/* SEARCH */

.search {
	padding-top: 1px;
 }

.search__form {
	text-align: center;
	margin: 1em 0;
}

.search__form__input {
	font-size: 16pt;
}

/*
 *---ELEMENTS---
 */

 .pictures {
 	text-align: center;
 	width: 100%;
 	max-width: 980px;
 	margin: 0 auto;
 }

.pictures ul {
	padding: 0;
}

.pictures li {
	list-style: none;
	margin-bottom: 60px;
	display: inline-block;
	width: 100%;
}

.pictures img {
	width: 100%;
}

/* ===CLEARFIX=== */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/*
 *---MEDIA QUERIES---
 */

 /*---TABLET AND ABOVE---*/

@media (min-width: 500px) {

	.pictures li {
		width: 50px;
		float: left;
		margin-right: 30px;
	}

	/*.pictures li:nth-child( 2n+2 ) {
		padding-right: 0;
		padding-left: 30px;
	}*/

}

@media (min-width: 800px) {

	.pictures li {
		width: 33.33333%;
	}

/*	.pictures li:nth-child( 2n+2 ) {
		padding-right: 30px;
		padding-left: 30px;
	}

	.pictures li:nth-child( 3n+3 ) {
		padding-right: 0px;
		padding-left: 30px;
	}*/

}

@media (min-width: 1000px) {

	.pictures li {
		width: 25%;
	}

}









