/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Interactive Photo Gallery
Version:	0.0.1
Author: 	@WebDesignerBen
URI:		https://github.com/BenAttenborough/interactive-ghoto-gallery

--------------------------------------------------------------------

[Table of Contents]

---GENERAL---
---TYPOGRAPHY---
---LAYOUT---
---ELEMENTS---
---MEDIA QUERIES---
	---TABLET AND ABOVE---

Note: Project employs mobile-first philosophy, main styles are for
mobile then views are progressively enchanced for tablet and 
desktop

-------------------------------------------------------------------*/

/*
 *---GENERAL---
 */

* {
	box-sizing: border-box;
}

/*
 *---TYPOGRAPHY---
 */

h1, h2, h3, h4, p, a {
	font-family: 'Merriweather', serif;
}

/*
 *---LAYOUT---
 */

 header {
 	width: 100%;
 	padding-top: 1px;
 	border-bottom: solid 1px #000;
 	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
 }

.main-container {
	width: 95%;
	max-width: 980px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 2.5%;
}

.search-container-form {
	text-align: center;
	margin: 1em 0;
}

/*
 *---ELEMENTS---
 */

/*
 *---MEDIA QUERIES---
 */

 /*---TABLET AND ABOVE---*/

@media (min-width: 760px) {


}